main{
    display: flex;
    flex-basis: 1000px;
    flex-grow: 1;
    flex-direction: row;
}

.categories{
display: flex;
flex-shrink: 0;
flex-grow: 0;
flex-basis: 256px;
flex-direction: column;
margin-right: 10px;

}

.categories > a{
text-decoration: none;
font-family: Dosis;
text-align: center;
text-transform: uppercase;
margin-bottom: 15px;
background-color: #44b;
color: white;
padding-top: 15px;
height: 50px;

}

.categories > a:hover{
    box-shadow: 0 2px 5px -2px black;
}