*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-nav{
    display: flex;    
    background-color: lightcoral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    }

    ul{
        list-style-type: none;
    }
    .full-width{
        display: none;
    }
    
    .short-width{
        display: flex;
    }
    
    .nav-list{
        display: flex;
        flex-direction: row;
        }
    .nav-list a{
            padding: 10px;
            border-right: 25px;
            text-decoration: none;
            color: white;
            font-family: open-sans;
            
        }
        
    .nav-list li:last-of-type a{
            border-right: 0px;
        }
        
        .sub-nav{
            display: flex;
        }
        
        .search-form{
            display: flex;
            flex-basis: 100%;
            padding: 10px;
        
         
        }
        
        input{
        padding: 15px;
        border: none;
        font-size: 20px;
        border-bottom: 1px solid lightcoral;
        flex-grow: 1;
        }
        
        button{
        padding: 15px;
        border: none;
        }



        .company-name{
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
color: coral;
align-items: center;
font-size: 35px;
        }
        
        .credit-offer{
        background-color: red;
        color: white;
        font-size: 20px;
        padding-top: 15px;
        text-align: center;
        width: 600px;
        margin: 10px;
        text-decoration: none;
        }

    @media (min-width: 768px){
        .short-width{
            display: none;
        }
        
        .full-width{
            display: flex;
        }
    }