.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: open-sans;
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 100%;
    margin-right: 200px;
}

.item{
    display: flex;
    flex-basis: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    margin-right: 12px;
    margin-bottom: 12px;
    box-shadow: 0 2px 5px -2px black;
}

.item-name, .fact-line{
    background-color:lightcoral;
}

.item-name{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    font-size: 25px;
    color: white;
}

.add-item{
    background-color: grey;
    border-radius: 10px;
}

.fact-line{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    font-size: 20px;
    color: white;
}

.item-description{
    display: flex;
    padding: 10px;
    font-size: 20px;
    color: gray;
}

@media (max-width: 768px){

 
    .item{
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
    }

    .item-name, .item-description, .fact-line, .fact-name{
        font-size: 30px;
    }
}